{% extends "gentelella/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">

        {% if app_list %}
            {% for app in app_list %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="x_panel fixed_height_320 {{ app.app_label }}">
                        <div class="x_title">
                            <h2><a href="{{ app.app_url }}">
                                {% blocktrans with name=app.name %}{% endblocktrans %} {{ app.name }} </a></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="index3.html#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="index3.html#">Settings 1</a>
                                        </li>
                                        <li><a href="index3.html#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="dashboard-widget-content">
                                <table class="quick-list">
                                    {% for model in app.models %}
                                        <tbody>
                                            <tr>
                                                <td><i class="fa fa-bars"></i></td>
                                                {% if model.admin_url %}
                                                    <td><a href="{{ model.admin_url }}"> {{ model.name }} </a></td>
                                                    </th>
                                                {% else %}
                                                    <th scope="row">{{ model.name }}</th>
                                                {% endif %}

                                                {% if model.add_url %}
                                                    <td><a href="{{ model.add_url }}"
                                                           class="addlink">{% trans 'Add' %}</a></td>
                                                {% else %}
                                                    <td>&nbsp;</td>
                                                {% endif %}
                                                {% if model.admin_url %}
                                                    <td><a href="{{ model.admin_url }}"
                                                           class="changelink">{% trans 'Change' %}</a></td>
                                                {% else %}
                                                    <td>&nbsp;</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>{% trans "You don't have permission to edit anything." %}</p>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>{% trans 'Recent actions' %}</h2>
            <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
            {% else %}
                <ul class="actionlist">
                    {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                                {{ entry.object_repr }}
                            {% else %}
                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                            <br/>
                            {% if entry.content_type %}
                                <span class="mini quiet">{% filter capfirst %}
                                    {{ entry.content_type }}{% endfilter %}</span>
                            {% else %}
                                <span class="mini quiet">{% trans 'Unknown content' %}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
